<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <% @articles.each do |article| %>
            <article class="mt-3 p-2 bg-light"><h2><%= link_to article.title, article_path(article) %></h2><%= article.content %></article>
            <% end %>
        </div>
    </div>
</div>